// Fonts

$f-main: "Gill Sans", "Arial", "Verdana", sans-serif;

// Colors

$blue-text: #2c425e;
$red-text: #a60300;


$footer-bg: #2877b2;
$orange: #2877b2;

$color-menu-text: #f27f5c;
$color-sub-menu-text: #3d3d3d;

$link-color: #333333;
$link-color-hover: #333333;

//
$color-text-accent: $link-color-hover;