mixin blog-reviews(year)
    .blog-reviews(style="background-image: url(./images/blog_news2.jpg);" id= year)
        .blog-reviews__tittle  Обзор
        .blog-reviews__inner
            .blog-reviews__date 12.02.17
            a(href="#").blog-reviews__header Британская пара нашла бриллианты в старинном стуле
            a(href="#").blog-news__link Подробнее
